:root {
  --primary-color: #00ff88;
  --background-color: #121212;
  --text-color: #fff;
  --border-color: whitesmoke;
}

.Home {
  background-color: var(--background-color);
  width: 100vw;
  min-width: 360px;
  height: max-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.maincontent {
  margin-top: 10px;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 55px;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .maincontent {
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin-top: 45px;
  }
}

.imagedisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagedisplay img {
  border-radius: 50%;
  width: 100%;
  max-width: 340px;
  box-shadow: 0px 0px 50px 1px var(--primary-color);
}

.details {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details p {
  color: var(--text-color);
}

.details h1 {
  color: var(--primary-color);
  overflow: hidden;
  border-right: 0.15em solid var(--border-color);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--border-color); }
}

@media screen and (max-width: 420px) {
  .details p {
    padding: 5px 25px;
  }

  .details h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    animation: none; /* Disable animation on very small screens */
    border-right: none;
  }
}